//
// solana-variables.scss
// Use this to overwrite Bootstrap and Dashkit variables
//
// Example of a variable override to change Dashkit's background color
// Remove the "//" to comment it in and see it in action!
$body-bg :#3a84ec94 !default;
$black: #232323;
$white: #0b0101 !default;
$gray-600: #86b8b6;
$gray-600-dark: #343a37 !default;
$gray-700-dark: #3673c3da !default;
$gray-800-dark: #ffffff3f !default;
$black-dark: #2176eeb5 !default;
$input-placeholder-color: #ccc !default;
$primary: #578cb7 !default;
$success: #26e97e !default;
$warning: #c47d4b !default;
$card-border-color: $gray-700-dark !default;
$card-outline-color: #3f426c !default;
$input-bg: transparent !default;
$input-border-color: $gray-600-dark !default;
$input-group-addon-color: $white !default;
$theme-colors: ( "black": $black, "gray": $gray-600, "gray-dark": $gray-800-dark, );